body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/background/Semesterly_art.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    color: white;
}


/* Task Bar */

.taskbar {
    background-color: rgba(0, 0, 0, 0.7); 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.left-section {
    display: flex;
    align-items: center;
}

.taskbar .logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.taskbar-links {
    display: flex;
    align-items: center;
}

.taskbar-links a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.taskbar-links a:hover {
    background-color: #ddd;
    color: black;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media a {
    display: block;
    margin-right: 20px;
}

.social-media img {
    width: 40px;
    height: 40px;
}



/* Taskbar End */

.content {
    text-align: center;
    margin-top: 100px; 
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh; 
}

.content h1 {
    font-size: 3em;
}

.content p {
    font-size: 1.5em;
}